#background-1 {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    filter: grayscale(0);
    display: none;
}

body {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                background-repeat: no-repeat;
                background-position:center;
                background-size: cover;
}

.s1 {
    color: purple;
    text-shadow: 2px 2px red, -1px -1px pink;
}

.s2 {
    color: red;
    text-shadow: 2px 2px red, -1px -1px pink;
}

.s3 {
    color: black;
    text-shadow: 2px 2px red, -1px -1px pink;
}

.s4 {
    color: #fff;
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    letter-spacing: 1px
}

.payment .container {
    border: 2px solid #333;
    padding: 10px;
    margin: 3em 0;
    border-radius: 20px;
    background-color: rgb(38, 28, 66);
    text-align: center;

    width: 60%;
    margin-left: 20%;
}

.title-1 {
    width: 100%;
    font-size: 4em; 
    text-align: center;
    background-color: #111;
}

.gold a{
    color: gold !important;
    text-shadow: 3px 3px #555 !important;
    font-weight: 800;
    font-size: 1.4em;
    text-shadow: 2px 2px 5px #777;
}

.gold {
    border: 2px solid green !important;
    background-image: url(./gold.png)!important;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    box-shadow: 10px 10px 20px #000;
}

.diamond a {
    color: teal;
    font-weight: 800;
    font-size: 1.4em;
    text-shadow: 1px 1px #777;
}
.diamond {
    background-image: url(./diamons_neon.png) !important;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 20px #000;
}

.black a{
    color: black;
    font-weight: 800;
    font-size: 1.4em;
    text-shadow: 2px 2px 5px #777;
}
.black {
    background-image: url(./black.png) !important;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 20px #000;
}

#loader_image {
    width: 100%;
    animation: fadeOut 1s linear;
    position: absolute;
    padding-top: 40%;
    padding-bottom:40%
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        width: 100%;
    }

    100%{
        border-radius: 50%;
        width: 100px;
    }
}


.legality {
    display: flex;
    flex-direction: row;
    padding: .5em;
    border: 1px solid #555;
    border-radius: 20px;
    margin-top: 30%;
    background-color: #222;
    color: #666;
}

.lel {
    margin-left: 1em;
    position: relative;
}